* {
    padding: 0;
    margin: 0;
}

p {
    padding: 20px 30px;
    font-family: 'Gloria Hallelujah', cursive;
}

h1,
h2,
h3,
h4 {
    font-family: 'Dokdo', cursive;
}

nav {
    background-size: cover;
    text-align: center;
    width: auto;

}

.main {
    padding: 0;
    margin: 0;
    background: url('/images/monkees.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;

    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2.5s;
    /* Firefox < 16 */
    -ms-animation: fadein 2.5s;
    /* Internet Explorer */
    -o-animation: fadein 2.5s;
    /* Opera < 12.1 */
    animation: fadein 2.5s;
}

/*---------------------------------------------------------------fade in backgroun*/

/*https://stackoverflow.com/questions/11679567/using-css-for-fade-in-effect-on-page-load*/

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 2.5;
    }
}

/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 2.5;
    }
}

/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 2.5;
    }
}

/* Internet Explorer */

/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 2.5;
    }
}

/*---------------------------------------------------------------*/

.logo img {
    float: left;
    height: 35px;
    margin: 0;
}

ul {
    text-align: center;
    margin-top: 0px;
    margin-right: 15px;
    margin-bottom: 12px;
}

ul li {
    display: inline-block;
    margin-left: 10px;
}

ul li a {
    text-decoration: none;
    color: red;
    padding: 8px 12px;
    border: 3px solid red;
}

ul li a:active {
    color: white;
    background-color: red;
}


.home-content {
    background-color: #e3d7d7;
    border: 5px solid red;
    text-align: center;
    color: red;
    padding: 20px 0px;
}


.filler1 {
    height: 350px;
    background: url('/images/cover2.png') repeat center center fixed;
}


.gallery-content {
    background-color: #f6e255;
    text-align: center;
}

.filler2 {
    background: url('/images/cover3.jpg') no-repeat center center fixed;
    height: 50vh;
    background-size: cover;
}

.contact-content {
    height: 100vh;
    background-color: red;
    padding-left: 50px;
}



.image-container {
    margin: 25px;
    display: inline-block;
    width: auto;
    height: auto;
}

.image-container img {
    height: 200px;
    width: 200px;
    border: 3px solid red;
}


.content-header {
    text-align: center;
    font-weight: bolder;
    color: red;
}

.contact-content .content-header {
    color: white;
}

/*------------------------------------------------------------/W3 School popup image--*/
