* {
    padding: 0;
    margin: 0;
}

p {
    padding: 20px 30px;
    font-family: 'Gloria Hallelujah', cursive;
    color: black;
}

h1,
h2,
h3,
h4 {
    font-family: 'Dokdo', cursive;
}


.content-header {
    text-align: center;
    font-weight: bolder;
    color: red;
}





.main-container {
    padding: 0;
    margin: 0;
    background: url('/images/monkees.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    top: 0;
    left: 0;

    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2.5s;
    /* Firefox < 16 */
    -ms-animation: fadein 2.5s;
    /* Internet Explorer */
    -o-animation: fadein 2.5s;
    /* Opera < 12.1 */
    animation: fadein 2.5s;
}

/*---------------------------------------------------------------fade in background*/

/*https://stackoverflow.com/questions/11679567/using-css-for-fade-in-effect-on-page-load*/

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 2.5;
    }
}

/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 2.5;
    }
}

/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 2.5;
    }
}

/* Internet Explorer */

/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 2.5;
    }
}

/*----------------/*https://stackoverflow.com/questions/11679567/using-css-for-fade-in-effect-on-page-load*/

/*-----------------------------------------------------------nav*/



nav{
    z-index: 1000;
}


.nav-link {
    color: red;
}



/*---------------https://www.codeply.com/go/4FdZGlPMNV-------------------------*/

.custom-toggler.navbar-toggler {
    border-color: rgb(255, 87, 87);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,87,87)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*----------------/https://www.codeply.com/go/4FdZGlPMNV------------------------*/

/*-----------------------------------------------------------content containers*/

.home-content {
    background-color: #e3d7d7;
    border: 5px solid red;
    text-align: center;
    color: red;
    padding: 20px 0px;
}


/*---------------------------gallery*/

.gallery-content {
    background-color: #f6e255;
    text-align: center;
    opacity: 0.7;
    padding: 0 15px
}



.image-container {
    opacity: 1;
    display: inline;
    margin-top: 15px;
    padding: 0px 15px 0px 15px;
    height: 200px;
    width: 200px
}


.image-container img {

    border: 3px solid red;
    height: 180px;
    width: 180px;

}



/*------------------------------------------------------Tour Dates*/

.tourdates-content {
    background-color: green;
    opacity: 0.7;
}

.tourdate-item {
    margin-left: 60px;
    padding-top: 30px;
    border-left: 4px solid red;
}

.tourdate {
    margin-left: 50px;
    margin-bottom: 40px;

}

.tourdate-item::before {
    content: attr(dates);
    display: block;
    margin-left: 20px;
    padding: 0;
}

.tourdate-item::after {
    position: relative;
    top: -6.5em;
    left: -11px;
    width: 20px;
    height: 20px;
    background-color: red;
    display: block;
    border-radius: 30px;
    content: '';
}



.ticket-link {
    text-decoration: none;
    color: red;
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: 10px;
}


.ticket-link-closed {
    text-decoration: line-through;
    color: black;
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: 10px;

}


.tour-location-closed {
    text-decoration: line-through;
}

.tourdate-image{
    margin-left: 50px;
}

.tourdate-image img {
    height: 80%;
    width: 80%;
    border-radius: 50%;
    border: red 5px solid;
    max-height: 310px;
    max-width: 520px;
}





@media screen and (max-width: 412px) {
  #tourimage { display: none; }   /* hide it elsewhere */
}



/*------------------------------------------------------------media-content*/

.media-container{
    background-color: #73b5fc;
    height: 100vh;
}


/*---------------------------------------------------------------filler */

.filler1 {
    height: 350px;
    background: url('/images/cover2.png') repeat center center fixed;
}


.filler2 {
    background: url('/images/cover3.jpg') no-repeat center center fixed;
    height: 50vh;
    background-size: cover;
}


.filler3 {
    background: url('/images/filler3.jpg') no-repeat center center fixed;
    height: 80vh;
    background-size: cover;
}







/*-------------------------------------------------------------logos*/

.brand-container {
    width: 50%;
    margin: 0 auto;
    vertical-align: middle;

}

.brand-container .brandlogo {
    margin-top: 80px;
    height: 100%;
    width: 100%;
    -webkit-animation: fadein 5s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 5s;
    /* Firefox < 16 */
    -ms-animation: fadein 5s;
    /* Internet Explorer */
    -o-animation: fadein 5s;
    /* Opera < 12.1 */
    animation: fadein 5s;

}

.brand-container .brandlogo img {
    height: 100%;
    width: 100%;
}

.contact-content .content-header {
    color: white;
}


.logo {
    height: 35px;
    width: 70px;
}



/*-------------------------------------------------Contact*/

.contact-content {
    background-color: red;
    opacity: 0.7;
}

.contact-us{
    color: white;
    margin: 20px 60px;
}

.form-text{
    color: white;
}


.btn {
    margin-bottom: 30px;
}